[Interface]
PrivateKey = {{ item.private_key }}
Address = {{ item.address }}
ListenPort = {{ item.listen_port }}
{% if item.mtu is defined %}MTU = {{ item.mtu }}{% endif %}

{% for name, peer in item.peers.items() %}
[Peer]  # {{ name }}
PublicKey = {{ peer.public_key }}
{% if peer.preshared_key is defined %}
PresharedKey = {{ peer.preshared_key }}
{% endif %}
AllowedIPs = {{ peer.allowed_ips | join(', ') }}
{% if peer.endpoint is defined %}
Endpoint = {{ peer.endpoint }}
PersistentKeepalive = 25
{% endif %}
{% endfor %}
